<nav class="bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">


      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

        <div class="flex flex-shrink-0 items-center">
          <a href="http://127.0.0.1:3000/"><img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"> </a>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= link_to "ホーム", '/posts', class:"text-gray-800 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium" %>
            <%= link_to "投稿する", 'posts/new', class:"text-gray-800 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium"%>
          </div>
        </div>
      </div>

    </div>
  </div>

</nav>
